<%- include("../partials/header.ejs") %>
<body>
    <%- include("../partials/navbar.ejs") %>
    <br><br>
    <div class="container mt-5 mb-4">
        <h1 class="mt-4 mb-3 text-primary">
            <i class="bi bi-building-add"></i> Cadastrar Instituição
        </h1>
        <!-- Alerta para validação -->
        <div id="alert" class="alert alert-danger d-none" role="alert"></div>

        <form action="/dashboard/institution/create" method="POST" >
            <div class="form-group">
                <label for="name">Nome da Instituição*</label>
                <input type="text" class="form-control" id="name" name="name" required maxlength="200" placeholder="Nome da Instituição" maxlength="200">
            </div>
            <div class="form-group">
                <label for="cnpj">CNPJ*</label>
                <input type="text" class="form-control" id="cnpj" name="cnpj" required maxlength="18" oninput="formatCNPJ(this)" placeholder="CNPJ">
            </div>
            <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" class="form-control" id="email" name="email" required maxlength="100" placeholder="Email">
                <div id="emailFeedback"></div>
            </div>
            <div class="form-group">
                <label for="main_phone">Telefone Principal*</label>
                <input type="text" class="form-control" id="main_phone" required name="main_phone" oninput="formatPhone(this)" maxlength="15" placeholder="Telefone Principal">
            </div>
            <div class="form-group">
                <label for="secondary_phone">Telefone Secundário</label>
                <input type="text" class="form-control" id="secondary_phone" name="secondary_phone" oninput="formatPhone(this)" maxlength="15" placeholder="Telefone Secundário">
            </div>
            <div class="form-group">
                <label for="website">Site</label>
                <input type="text" class="form-control" id="website" name="website" maxlength="500" placeholder="Site">
            </div>
            <div class="form-group">
                <label for="institution_category">Categoria*</label>
                <select class="form-control" id="institution_category" name="institution_category" required>
                    <option value="" disabled selected>Selecione uma categoria</option>
                    <% categories.forEach(category => { %>
                        <% if (category.category_pt !== "Todas Categorias") { %>
                            <option value="<%= category.id %>"><%= category.category_pt %></option>
                        <% } %>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="instagram">Instagram</label>
                <input type="text" class="form-control" id="instagram" name="instagram" oninput="formatInstagramUsername(this)" maxlength="70" placeholder="Instagram">
            </div>
            <div class="form-group">
                <label for="main_language">Idioma Principal*</label>
                <input type="text" class="form-control" id="main_language" name="main_language" maxlength="80" required placeholder="Idioma Principal">
            </div>
            <div class="form-group">
                <label for="second_language">Idioma Secundário*</label>
                <input type="text" class="form-control" id="second_language" name="second_language" maxlength="80" required placeholder="Idioma Secundário">
            </div>
            <div class="form-group">
                <label for="link_maps">Link do Maps*</label>
                <input type="text" class="form-control" id="link_maps" required name="link_maps" maxlength="1000" placeholder="Link do Maps">
            </div><br><hr>
            <h3 class="mt-4 text-primary" text-primary>
                <i class="bi bi-postcard-fill"></i> Descrição da Instituição
            </h3>
            <div class="form-group">
                <label for="description_pt">Descrição (Português)*</label>
                <textarea class="form-control" id="description_pt" required name="description_pt" rows="3" maxlength="255" placeholder="Descrição da instituição em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="description_en">Descrição (Inglês)*</label>
                <textarea class="form-control" id="description_en" required name="description_en" rows="3" maxlength="255" placeholder="Institution description in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="description_fr">Descrição (Francês)*</label>
                <textarea class="form-control" id="description_fr" required name="description_fr" rows="3" maxlength="255" placeholder="Description de l'institution en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="description_es">Descrição (Espanhol)*</label>
                <textarea class="form-control" id="description_es" required name="description_es" rows="3" maxlength="255" placeholder="Descripción de la institución en español..."></textarea>
            </div><br><hr>
            <h3 class="mt-4 text-primary">
                <i class="bi bi-clock-fill"></i> Dias e Horários de Funcionamento
            </h3>
            <div class="form-group">
                <label for="service_hours_pt">Dias e Horários de Funcionamento (Português)*</label>
                <textarea class="form-control" id="service_hours_pt" required name="service_hours_pt" rows="3" maxlength="255" placeholder="Dias e Horários em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_hours_en">Dias e Horários de Funcionamento (Inglês)*</label>
                <textarea class="form-control" id="service_hours_en" required name="service_hours_en" rows="3" maxlength="255" placeholder="Service hours in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_hours_fr">Dias e Horários de Funcionamento (Francês)*</label>
                <textarea class="form-control" id="service_hours_fr" required name="service_hours_fr" rows="3" maxlength="255" placeholder="Horaires d'ouverture en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_hours_es">Dias e Horários de Funcionamento (Espanhol)*</label>
                <textarea class="form-control" id="service_hours_es" required name="service_hours_es" rows="3" maxlength="255" placeholder="Horario de atención en español..."></textarea>
            </div><br><hr>
            <h3 class="mt-4 text-primary">
                <i class="bi bi-people-fill"></i> População Alvo
            </h3>
            <div class="form-group">
                <label for="target_populations_pt">População Alvo (Português)*</label>
                <textarea class="form-control" id="target_populations_pt" required name="target_populations_pt" rows="3"  maxlength="255" placeholder="População alvo em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="target_populations_en">População Alvo (Inglês)*</label>
                <textarea class="form-control" id="target_populations_en" required name="target_populations_en" rows="3" maxlength="255" placeholder="Target population in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="target_populations_fr">População Alvo (Francês)*</label>
                <textarea class="form-control" id="target_populations_fr" required name="target_populations_fr" rows="3" maxlength="255" placeholder="Population cible en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="target_populations_es">População Alvo (Espanhol)*</label>
                <textarea class="form-control" id="target_populations_es" required  name="target_populations_es" rows="3" maxlength="255" placeholder="Población objetivo en español..."></textarea>
            </div><br><hr>

            <h3 class="mt-4 text-primary">
                <i class="bi bi-check-circle-fill"></i> Requisitos e Restrições
            </h3>
            <div class="form-group">
                <label for="requirements_restrictions_pt">Requisitos e Restrições (Português)*</label>
                <textarea class="form-control" id="requirements_restrictions_pt" required name="requirements_restrictions_pt" rows="3"maxlength="255"  placeholder="Requisitos e restrições em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="requirements_restrictions_en">Requisitos e Restrições (Inglês)*</label>
                <textarea class="form-control" id="requirements_restrictions_en" required name="requirements_restrictions_en" rows="3" maxlength="255"placeholder="Requirements and restrictions in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="requirements_restrictions_fr">Requisitos e Restrições (Francês)*</label>
                <textarea class="form-control" id="requirements_restrictions_fr" required name="requirements_restrictions_fr" rows="3" maxlength="255" placeholder="Exigences et restrictions en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="requirements_restrictions_es">Requisitos e Restrições (Espanhol)*</label>
                <textarea class="form-control" id="requirements_restrictions_es" required name="requirements_restrictions_es" rows="3" maxlength="255" placeholder="Requisitos y restricciones en español..."></textarea>
            </div><br><hr>
            <h3 class="mt-4 text-primary">
                <i class="bi bi-box-fill"></i> Serviços Oferecidos
            </h3>
            <div class="form-group">
                <label for="services_offered_pt">Serviços Oferecidos (Português)*</label>
                <textarea class="form-control" id="services_offered_pt" required name="services_offered_pt" rows="3" maxlength="255" placeholder="Serviços oferecidos em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="services_offered_en">Serviços Oferecidos (Inglês)*</label>
                <textarea class="form-control" id="services_offered_en" required name="services_offered_en" rows="3" maxlength="255" placeholder="Services offered in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="services_offered_fr">Serviços Oferecidos (Francês)*</label>
                <textarea class="form-control" id="services_offered_fr" required name="services_offered_fr" rows="3" maxlength="255" placeholder="Services offerts en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="services_offered_es">Serviços Oferecidos (Espanhol)*</label>
                <textarea class="form-control" id="services_offered_es" required name="services_offered_es" rows="3" maxlength="255" placeholder="Servicios ofrecidos en español..."></textarea>
            </div><br><hr>
            <h3 class="mt-4 text-primary">
                <i class="bi bi-currency-dollar"></i> Custos dos Serviços
            </h3>
            <div class="form-group">
                <label for="service_costs_pt">Custos dos Serviços (Português)*</label>
                <textarea class="form-control" id="service_costs_pt" required name="service_costs_pt" rows="3" maxlength="255"placeholder="Custos dos serviços em português..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_costs_en">Custos dos Serviços (Inglês)*</label>
                <textarea class="form-control" id="service_costs_en" required name="service_costs_en" rows="3" maxlength="255" placeholder="Service costs in English..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_costs_fr">Custos dos Serviços (Francês)*</label>
                <textarea class="form-control" id="service_costs_fr" required name="service_costs_fr" rows="3" maxlength="255" placeholder="Coûts des services en français..."></textarea>
            </div>
            <div class="form-group">
                <label for="service_costs_es">Custos dos Serviços (Espanhol)*</label>
                <textarea class="form-control" id="service_costs_es" required name="service_costs_es" rows="3" maxlength="255"  placeholder="Costos de los servicios en español..."></textarea>
            </div><br><hr>

            <h3 class="mt-4 text-primary"> 
                <i class="bi bi-geo-alt-fill"></i> Endereço
            </h3>
            <div class="form-group">
                <label for="cep">CEP*</label>
                <input type="text" class="form-control" id="cep" name="cep" required oninput="formatCEP(this)" maxlength="9" placeholder="Digite o CEP">
                <button type="button" id="btnBuscarEndereco" class="btn btn-primary mt-2">Buscar Endereço</button>
            </div>
            <div class="form-group">
                <label for="street">Logradouro*</label>
                <input type="text" class="form-control" id="street" required name="street" placeholder="Digite o Logradouro" maxlength="255">
            </div>
            <div class="form-group">
                <label for="neighborhood">Bairro*</label>
                <input type="text" class="form-control" id="neighborhood" required name="neighborhood" placeholder="Digite o Bairro" maxlength="255">
            </div>
            <div class="form-group">
                <label for="city">Cidade*</label>
                <input type="text" class="form-control" id="city" required name="city" placeholder="Digite a Cidade" maxlength="150">
            </div>
            <div class="form-group">
                <label for="state">Estado*</label>
                <input type="text" class="form-control" id="state" required name="state" placeholder="Digite o Estado" maxlength="150">
            </div>
            <div class="form-group">
                <label for="numero">Número do Endereço*</label>
                <input type="text" class="form-control" id="numero" name="numero" required placeholder="Digite o Número" maxlength="10">
            </div>
            <div class="form-group">
                <label for="complemento">Complemento (opcional)</label>
                <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Digite o Complemento" maxlength="240">
            </div>
            <div class="alert alert-warning" role="alert">
                Caso a busca pelo endereço não retorne resultados, preencha os campos acima manualmente.
            </div><br><hr>
            <h3 class="mt-4 text-primary">
                <i class="bi bi-person-fill"></i> Responsável Pelo Cadastro
            </h3>
            <div class="form-group">
                <label for="responsible_name">Nome do Responsável*</label>
                <input type="text" class="form-control" id="responsible_name" name="responsible_name" required placeholder="Digite o nome do responsável" maxlength="255">
            </div>
            <div class="form-group">
                <label for="responsible_position">Posição*</label>
                <input type="text" class="form-control" id="responsible_position" name="responsible_position" required placeholder="Digite a posição do responsável" maxlength="80">
            </div>
            <div class="form-group">
                <label for="responsible_sector">Setor*</label>
                <input type="text" class="form-control" id="responsible_sector" name="responsible_sector" required placeholder="Digite o setor do responsável" maxlength="80">
            </div>
            <div class="form-group">
                <label for="responsible_role">Função*</label>
                <input type="text" class="form-control" id="responsible_role" name="responsible_role" required placeholder="Digite a função do responsável" maxlength="80">
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="terms" name="authorized" required>
                <label class="form-check-label" for="terms"> A instituição aceita os <a href="/terms/instituicao" target="_blank">Termos e Condições</a></label>
            </div>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-building-fill"></i> Cadastrar Instituição
            </button>
            <a href="/dashboard/institutions" class="btn btn-secondary">
                <i class="bi bi-x-lg"></i> Cancelar
            </a>
        </form>
    </div>
<%- include("../partials/footer.ejs") %>
<script src="/js/scriptInstitutionCreate.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>

